<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_vaccination">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/inject_boy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inject_boy"
        android:supportsRtl="true"
        android:theme="@style/Theme.Evaccination"
        tools:targetApi="31">
        <activity
            android:name=".admin.drawer.AdminDrawer"
            android:exported="false" />
        <activity
            android:name=".parent.drawer.ParentDrawer"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".hospital.drawer.HospitalDrawer"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".hospital.HospitalProfile"
            android:exported="false" />
        <activity
            android:name=".parent.ParentProfile"
            android:exported="false" />
        <activity
            android:name=".parent.ParentRegister"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".hospital.HospitalRegister"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".hospital.HospitalLogin"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".parent.ParentLogin"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>